@let base_url = "portfolio/code-jump/blog-menu/";
<!--エラーが出るけどゆるして-->
@let link_url = "#code-jump-top";
@if (urls$ | async; as urls) {
  <div class="body" id="code-jump-top">
    <header>
      <div class="header__logo-wrapper">
        <img src="{{ base_url + 'logo.svg' }}" alt="" />
      </div>
      <nav>
        <div class="header__nav-wrapper">
          <ul>
            <li><a href="{{ link_url }}">NEW</a></li>
            <li><a href="{{ link_url }}">COLUMN</a></li>
            <li><a href="{{ link_url }}">SERIES</a></li>
            <li><a href="{{ link_url }}">Q&A</a></li>
            <li><a href="{{ link_url }}">CONTACT</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="contents">
      <section class="pickup">
        <article class="pickup__card">
          <img [src]="urls.pickup1" alt="" />
          <div class="pickup__card-title">
            <h3>
              タイトルテキストテキストテキストテキストテキストテキストテキスト
            </h3>
          </div>
          <div class="pickup__card-link">
            <a href="{{ link_url }}" class="read-more">READ MORE</a>
          </div>
        </article>
        <article class="pickup__card">
          <img [src]="urls.pickup2" alt="" />
          <div class="pickup__card-title">
            <h3>
              タイトルテキストテキストテキストテキストテキストテキストテキスト
            </h3>
          </div>
          <div class="pickup__card-link">
            <a href="{{ link_url }}" class="read-more">READ MORE</a>
          </div>
        </article>
        <article class="pickup__card">
          <img [src]="urls.pickup3" alt="" />
          <div class="pickup__card-title">
            <h3>
              タイトルテキストテキストテキストテキストテキストテキストテキスト
            </h3>
          </div>
          <div class="pickup__card-link">
            <a href="{{ link_url }}" class="read-more">READ MORE</a>
          </div>
        </article>
      </section>
      <section class="main">
        <article class="main__card">
          <div class="main__card-title">
            <h2>タイトルテキストテキストテキストテキストテキスト</h2>
          </div>
          <div class="main__card-meta">
            <span>2020/01/01</span>
            <span>カテゴリ1</span>
          </div>
          <img [src]="urls.main1" alt="" />
          <div class="main__card-body">
            <p>
              本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
          <div class="main__card-link">
            <a href="{{ link_url }}" class="read-more">READ MORE</a>
          </div>
        </article>
        <article class="main__card">
          <div class="main__card-title">
            <h2>タイトルテキストテキストテキストテキストテキスト</h2>
          </div>
          <div class="main__card-meta">
            <span>2020/01/01</span>
            <span>カテゴリ1</span>
          </div>
          <img [src]="urls.main2" alt="" />
          <div class="main__card-body">
            <p>
              本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
          <div class="main__card-link">
            <a href="{{ link_url }}" class="read-more">READ MORE</a>
          </div>
        </article>
        <article class="main__card">
          <div class="main__card-title">
            <h2>タイトルテキストテキストテキストテキストテキスト</h2>
          </div>
          <div class="main__card-meta">
            <span>2020/01/01</span>
            <span>カテゴリ1</span>
          </div>
          <img [src]="urls.main3" alt="" />
          <div class="main__card-body">
            <p>
              本文テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
          <div class="main__card-link">
            <a href="{{ link_url }}" class="read-more">READ MORE</a>
          </div>
        </article>
      </section>
      <section class="aside">
        <div class="aside__author">
          <div class="aside__author-item">
            <img [src]="urls.author" alt="" />
          </div>
          <div class="aside__author-item">
            <h2>Name Name</h2>
          </div>
          <div class="aside__author-item">
            <p>
              プロフィールテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
          </div>
        </div>
        <div class="aside__ranking">
          <div class="aside__ranking-title"><h2>Ranking</h2></div>
          <div class="aside__ranking-card">
            <div class="aside__ranking-item">
              <img [src]="urls.ranking1" alt="" />
            </div>
            <div class="aside__ranking-item">
              <h4>タイトルテキストテキストテキストテキストテキストテキスト</h4>
            </div>
          </div>
          <div class="aside__ranking-card">
            <div class="aside__ranking-item">
              <img [src]="urls.ranking2" alt="" />
            </div>
            <div class="aside__ranking-item">
              <h4>タイトルテキストテキストテキストテキストテキストテキスト</h4>
            </div>
          </div>
          <div class="aside__ranking-card">
            <div class="aside__ranking-item">
              <img [src]="urls.ranking3" alt="" />
            </div>
            <div class="aside__ranking-item">
              <h4>タイトルテキストテキストテキストテキストテキストテキスト</h4>
            </div>
          </div>
        </div>
        <div class="aside__archive">
          <div class="aside__archive-title">
            <h2>Archive</h2>
          </div>
          <table>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
            <tr>
              <td><a href="{{ link_url }}">XXXX年XX月(XX)</a></td>
            </tr>
          </table>
        </div>
      </section>
    </div>
    <footer>
      <div class="footer__wrapper">
        <div class="footer__card">
          <div class="footer__card-title"><h4>About</h4></div>
          <div class="footer__card-content">
            <p>
              テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            </p>
            <ul>
              <li>プロフィール詳細</li>
              <li>お仕事の依頼</li>
              <li>お問い合わせ</li>
            </ul>
          </div>
        </div>
        <div class="footer__card">
          <div class="footer__card-title"><h4>Menu</h4></div>
          <div class="footer__card-content">
            <table>
              <tr>
                <td>NEW</td>
              </tr>
              <tr>
                <td>CATEGORY</td>
              </tr>
              <tr>
                <td>COLUMN</td>
              </tr>
              <tr>
                <td>SERIES</td>
              </tr>
              <tr>
                <td>Q&A</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="footer__card">
          <div class="footer__card-title"><h4>Twitter</h4></div>
          <div class="footer__card-content"></div>
        </div>
      </div>
      <p>© Travel & Blog</p>
    </footer>
  </div>
}
