:host ::ng-deep p {
  overflow-wrap: anywhere;
}
:host ::ng-deep pre {
  overflow-x: auto;
  color: white;
  background-color: var(--main-super-dark-color);
  padding: 12px;
  font-family: "JetBrains Mono";
  border-radius: 6px;
}
:host ::ng-deep ul {
  overflow-x: auto;
}
:host ::ng-deep table {
  border-collapse: collapse;
  border: 2px solid var(--main-super-dark-color);
}

:host ::ng-deep th {
  border: 1px solid var(--main-super-dark-color);
  padding: 6px;
}
:host ::ng-deep td {
  border: 1px solid var(--main-super-dark-color);
  padding: 6px;
}

.body {
  &__meta {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--main-light-color);
  }
}
