<div class="company">
  <h2 class="company__title">Company</h2>
  <div class="company__detail">
    <table>
      <tr>
        <td>社名</td>
        <td>株式会社ファニチャーデザイン</td>
      </tr>
      <tr>
        <td>住所</td>
        <td>〒107-0062 東京都港区南青山１丁目××××××</td>
      </tr>
      <tr>
        <td>設立</td>
        <td>XXXX年XX月</td>
      </tr>
      <tr>
        <td>資本金</td>
        <td>XXXX万円</td>
      </tr>
      <tr>
        <td>従業員数</td>
        <td>XX名</td>
      </tr>
      <tr>
        <td>事業内容</td>
        <td>
          家具、インテリアの企画・生産<br />
          家具、インテリアの販売<br />
          店舗の企画・デザイン・設計<br />
        </td>
      </tr>
    </table>
  </div>
</div>
