<div class="main">
  <label class="overlay">
    <input type="radio" name="radio" hidden checked />
  </label>
  <div class="item-container">
    @for (
      portfolioInfo of portfolioInfos();
      track portfolioInfo.portfolio_link
    ) {
      <div class="card-wrapper">
        <article class="card">
          <label>
            <input type="radio" name="radio" hidden />
            <div class="card__thumbnail-wrapper">
              @if (portfolioInfo.thumbnail_url | async; as thumbnail_url) {
                <img [ngSrc]="thumbnail_url" fill alt="サムネイル" priority />
              } @else {}
            </div>
          </label>
          <div class="card__meta">
            <a [routerLink]="portfolioInfo.portfolio_link">成果物はこちら</a>
            <h3>提供元情報</h3>
            <a href="{{ portfolioInfo.reference_url }}">
              <p>{{ portfolioInfo.label }}</p>
            </a>
            <div class="card__meta-specification">
              <h3>仕様</h3>
              <p markdown [data]="portfolioInfo.specification"></p>
            </div>
            <label class="read-more">
              <p class="read-more__message">read more</p>
              <div class="read-more__body">
                <h3>コンセプト</h3>
                <div markdown [data]="portfolioInfo.concept"></div>
                <h3>プラン</h3>
                <div markdown [data]="portfolioInfo.plan"></div>
                <h3>振り返り</h3>
                <div markdown [data]="portfolioInfo.reflection"></div>
              </div>
              <input type="radio" name="radio" hidden />
            </label>
          </div>
        </article>
      </div>
    }
  </div>
  @if (isLogin()) {
    <button routerLink="/portfolio/add-card">add card</button>
  }
</div>
