@layer default {
  * {
    --main-color: var(--primary-color);
    --main-light-color: color-mix(in srgb, var(--main-color), white);
    --main-super-light-color: color-mix(in srgb, var(--main-color) 10%, white);
    --main-dark-color: color-mix(in srgb, var(--main-color) 95%, black);
    --main-super-dark-color: color-mix(in srgb, var(--main-color), black);
  }
}

.header {
  background-color: white;
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--main-dark-color);
}
.header__nav {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.header__others {
  display: flex;
  flex-direction: row;
  align-items: end;
  font-size: 24px;
}
.header__others-1 {
  margin: 0 0.2rem;
}
.header__icon {
  font-size: 1em;
  color: var(--main-color);
}

.study-content {
  padding: 1rem;
}

:host ::ng-deep .header__search {
  padding: 0.3rem;
}
.header__search-icon {
  margin-right: 0.2rem;
}

:host ::ng-deep img {
  max-width: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: var(--main-super-light-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__body {
    max-width: 1000px;
    padding: 12px;
    margin: 0 auto;
  }
}

.searchBox {
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  max-height: 80%;
  overflow-y: auto;
  overflow-wrap: anywhere;
  text-decoration-line: none;

  &__inner {
    border-top: 0.1rem solid var(--main-super-dark-color);
  }

  &__a {
    text-decoration-line: none;
  }
}

:host ::ng-deep mark {
  color: #ec4899;
  background-color: white;
}

:host ::ng-deep .add-document-button {
  padding: 0;
  width: 2rem;
  height: 2rem;
  font-size: 1em;
}

:host ::ng-deep .icon-size {
  font-size: 0.8em;
}
