<div class="w-full h-full bg-violet-50">
  <header
    class="h-16 bg-white border-t-0 border-x-0 border-b border-solid border-violet-900 z-10"
  >
    <div class="p-3">
      <nav class="flex flex-row">
        <div class="h-10 w-32">
          <a class="no-underline" href="">
            <div class="h-full w-hull bg-violet-400 rounded-lg text-white">
              <div class="h-full w-hull grid place-items-center">
                <span class="pi pi-pen-to-square text-2xl">mysite</span>
              </div>
            </div></a
          >
        </div>
        <div class="ml-auto grid place-items-end">
          <ul class="list-none flex flex-row gap-x-3">
            <li>
              <a href="https://github.com/magurouhiru/mysite"
                ><span class="pi pi-github text-2xl text-violet-400"></span
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/magurouhiru7"
                ><span class="pi pi-twitter text-2xl text-violet-400"></span
              ></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="p-3">
    @if (articles$ | async; as articles) {
      @if (articles.length === 1) {
        <div class="bg-white p-3 rounded-lg">
          <div markdown [data]="articles[0].article"></div>
        </div>

      } @else {
        @for (article of articles; track article) {
          <div class="mb-3">
            <a class="no-underline" href="#/article/{{ article.meta.name }}">
              <div>
                <p-card [header]="article.meta.title"
                  >書いた人：{{ article.meta.author }}<br />書いた日：{{
                    article.meta.rawDate
                  }}<br />タグ：{{ article.meta.tags }}<br />新着フラグ：{{
                    article.meta.newFlag
                  }}</p-card
                >
              </div></a
            >
          </div>
        }
      }
    }
  </div>
</div>
