:host ::ng-deep img {
  max-width: 100%;
}
.header {
  height: 64px;
  background-color: white;
  border-width: 0 0 1px 0;
  border-style: solid;
  z-index: 10;
  width: 100%;
  &--article {
    border-color: #a78bfa;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  padding: 12px;
  margin: 0 auto;
}
.header__a {
  text-decoration-line: none;
}

.header__home {
  height: 40px;
  width: 128px;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-radius: 8px;
  font-size: 1.5rem;
  &--article {
    background-color: #a78bfa;
  }
}

.header__icons {
  list-style-type: none;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__icon {
  font-size: 1.5rem;
  &--home {
    padding-right: 3px;
  }
  &--article {
    color: #a78bfa;
  }
}

.bg {
  width: 100%;
  height: 100%;
  background-color: #f5f3ff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__body {
    max-width: 1000px;
    padding: 12px;
    margin: 0 auto;
  }
}

:host ::ng-deep .header__search {
  height: 40px;
  color: #a78bfa;
  background: white;
  border-color: #a78bfa;
  --primary-color: #a78bfa;
}
.header__search-text-wrap {
  display: table-cell;
  padding-top: 3px;
}
:host ::ng-deep .p-button:focus {
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px #a78bfa,
    0 1px 2px 0 black;
}

:host ::ng-deep .p-inputtext:focus {
  border-color: #a78bfa;
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px #a78bfa,
    0 1px 2px 0 black;
}

:host ::ng-deep .p-input-icon-left {
  width: 100%;
}

:host ::ng-deep .search-text {
  width: 100%;
  margin-bottom: 10px;
}

.searchBox {
  background-color: white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  max-height: 80%;
  overflow-y: auto;
  overflow-wrap: anywhere;
  text-decoration-line: none;

  &__inner {
    border-top: 1px solid #a78bfa;
  }

  &__a {
    text-decoration-line: none;
  }
}

:host ::ng-deep mark {
  color: #ec4899;
  background-color: white;
}
