<div class="bg">
  <header class="header">
    <nav class="header__nav">
      <div class="header__home-button">
        <app-home-button [contentLabel]="'article'"></app-home-button>
      </div>
      <p-button styleClass="header__search" (onClick)="showDialog()" hidden>
        <div class="header__search-text-wrap">
          <span class="pi pi-search header__search-icon"></span>
          <span>検索</span>
        </div>
      </p-button>
      <div class="header__others">
        @if (isLogin()) {
          <div class="header__others-1">
            <p-button
              icon="pi pi-file-plus icon-size"
              styleClass="add-document-button"
              routerLink="/article/add-article"
            ></p-button>
          </div>
        }
        <div class="header__others-1">
          <app-theme-picker
            [defaultTheme]="'lara_light_purple'"
          ></app-theme-picker>
        </div>
        <div class="header__others-1">
          <a href="https://github.com/magurouhiru/mysite">
            <div class="pi pi-github header__icon"></div>
          </a>
        </div>
        <div class="header__others-1">
          <a href="https://twitter.com/magurouhiru7">
            <div class="pi pi-twitter header__icon"></div>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <div class="content">
    <div class="content__body">
      <router-outlet />
    </div>
  </div>
</div>
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [dismissableMask]="true"
  [closable]="true"
  [position]="'top'"
>
  <ng-template pTemplate="headless">
    <div pAutoFocus [autofocus]="true" class="searchBox">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          type="text"
          [(ngModel)]="target"
          (ngModelChange)="search()"
          pInputText
          placeholder="Search"
          class="search-text"
        />
      </span>
      @if (res$ | async; as res) {
        @for (r of res; track r) {
          <a routerLink (click)="junp(r.meta.id)" class="searchBox__a">
            <div class="searchBox__inner">
              <h2 [innerHTML]="r.main"></h2>
              <h4 [innerHTML]="r.sub"></h4>
            </div>
          </a>
        }
      }
    </div>
  </ng-template>
</p-dialog>
