<h1>CSS Range Slider 例集</h1>
<pre>
  CSS Range Slider の例が乗ってるよ。
  <a href="https://www.frontendplanet.com/css-range-slider-examples/">https://www.frontendplanet.com/css-range-slider-examples/</a>
  メインの目的はCSS の勉強なので全部やってるわけじゃないよ。
</pre>

<h2>Range slider equalizer</h2>
<pre>
  subscribe() の戻り値に対してunsubscribe() を実行する方法。
  単純だが、1個にしか対応できない。

  確認ポイント
  ・unsubscribe せずに別ページへ移動してもconsole.log が止まらないこと。
  ・unsubscribe したらそれっぽいオブジェクトがメモリから消えていること。
  ・1個しかunsubscribe できていないこと。
</pre>
<pre class="playfield playfield--dhisplay-l-fix">
  <app-range-slider-equalizer></app-range-slider-equalizer>
</pre>
