@if (card(); as cardObservable) {
  <div class="card">
    @if (cardObservable | async; as card) {
      <div class="card__img">
        @if (card.img_url) {
          <img [ngSrc]="card.img_url" alt="product img" fill priority />
        } @else {
          <div class="dummy-img">
            <div class="spin"><i class="pi pi-spin pi-spinner"></i></div>
          </div>
        }
      </div>
      <p class="card__title">{{ card.title }}</p>
      <p class="card__price">{{ card.price }}</p>
    }
  </div>
}
