.product {
  width: min(800px, 100%);
  container-name: p;
  container-type: inline-size;
  font-size: 14px;
  line-height: 18px;
  & .product__title {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: normal;
  }
  & .product__body {
    width: 100%;
    display: flex;
    align-items: start;
    row-gap: 30px;
  }
  & .spin {
    text-align: center;
    & i {
      font-size: 30px;
    }
  }
  & .product__img {
    flex: 1 1 0;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
  }
  & .img--dummy {
    width: 100%;
    height: 100%;
    background-color: #bbbbbb;
    align-content: center;
  }
  & .product__detail {
    flex: 1 1 0;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@container p (max-width: 600px) {
  .product {
    & .product__body {
      flex-direction: column;
    }
    & .product__detail {
      padding-left: 0;
    }
  }
}

.button-wrapper {
  padding-top: 60px;
  padding-bottom: 122px;
  text-align: center;
  font-size: 14px;
}
