@layer default {
  * {
    --main-color: var(--primary-color);
    --main-light-color: color-mix(in srgb, var(--main-color), white);
    --main-dark-color: color-mix(in srgb, var(--main-color) 95%, black);
    --main-super-dark-color: color-mix(in srgb, var(--main-color), black);
  }
}

.portfolio-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template:
    ". . ." 0
    ". content ." 1fr
    ". . ." 0
    ". end ." auto
    ". . ." 0
    / 0 1fr 0;
}

.portfolio-content {
  grid-area: content;
}

.portfolio-end {
  grid-area: end;
  text-align: center;
  background-color: var(--main-color);
}
