<div class="min-h-screen min-w-screen flex flex-col justify-between">
  <div class="grow">
    <router-outlet />
  </div>
  <footer class="w-full bg-gray-600 no-underline decoration-white">
    <div class="text-white p-3">
      <div>
        <a [routerLink]="'/'">
          <div class="pi pi-home">home</div>
        </a>
      </div>
      <div>
        <a [routerLink]="'/article'">
          <div class="pi pi-pen-to-square">article</div>
        </a>
      </div>
      <div>
        <a [routerLink]="'/study'">
          <div class="pi pi-graduation-cap">study</div>
        </a>
      </div>
    </div>
  </footer>
</div>
