@let baseUrl = "/portfolio/code-jump/store2-menu/";
<div class="body">
  <div class="header">
    <div class="item-container item-container--header">
      <h1>
        <a [routerLink]="baseUrl">
          <img
            ngSrc="/portfolio/code-jump/store2-menu/logo.svg"
            alt="logo"
            fill
          />
        </a>
      </h1>
      <label class="hamburger"
        ><input type="checkbox" hidden id="nav-toggle"
      /></label>
      <nav>
        <ul class="link">
          <li><a [routerLink]="baseUrl + 'products'">PRODUCTS</a></li>
          <li><a [routerLink]="baseUrl + 'about'">ABOUT</a></li>
          <li><a [routerLink]="baseUrl + 'company'">COMPANY</a></li>
          <li><a [routerLink]="baseUrl + 'contact'">CONTACT</a></li>
          @if (isLogin()) {
            <li><a [routerLink]="baseUrl + 'add-product'">ADD PRODUCT</a></li>
          }
        </ul>
      </nav>
      <div class="over-ray"></div>
    </div>
  </div>
  <div class="main">
    <div class="item-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    <div class="item-container item-container--footer">
      <div class="link">
        <p>INSTAGRAM</p>
        <p>TWITTER</p>
        <p>FACEBOOK</p>
      </div>
      <p class="copyright">© Furniture Design</p>
    </div>
  </div>
</div>
