<div id="rse">
  <fieldset>
    <legend>Equalizer</legend>

    <label orient="270deg" type="range" for="band" before="-5" after="5"
      >0</label
    >

    <input orient="270deg" type="range" min="0" value="2" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="2" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="2" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="4" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="3" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="3" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="6" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="7" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="7" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="8" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="8" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="6" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="5" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="6" max="9" step="1" />
    <input orient="270deg" type="range" min="0" value="6" max="9" step="1" />

    <label orient="90deg" type="range" for="band" before="5" after="-5"
      >0</label
    >
  </fieldset>
</div>
