@layer default {
  * {
    padding: 0;
    margin: 0;
  }
}
:host ::ng-deep img {
  max-width: 100%;
}
:host ::ng-deep .playfield {
  border: 2px;
  border-style: solid;
  border-color: #2dd4bf;
  margin: 0 0 6px 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
  &--m {
    width: 400px;
    height: 200px;
  }
}
:host ::ng-deep .buttons {
  margin: 3px 0 3px 0;
  border: 2px;
  border-style: solid;
  border-color: #2dd4bf;
}
:host ::ng-deep .p-highlight {
  background: #2dd4bf;
  border-color: #2dd4bf;
}
:host ::ng-deep .p-button:focus {
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px #2dd4bf,
    0 1px 2px 0 black;
}
@layer aaa {
  :host ::ng-deep .p-button {
    background: #2dd4bf;
    border-color: #2dd4bf;
  }
  :host ::ng-deep .p-togglebutton.p-button {
    background: #ffffff;
    border: 1px solid #d1d5db;
    color: #4b5563;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
  }
}
.header {
  height: 64px;
  background-color: white;
  border-width: 0 0 1px 0;
  border-style: solid;
  z-index: 10;
  padding: 12px;
  &--study {
    border-color: #2dd4bf;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__a {
  text-decoration-line: none;
}

.header__home {
  height: 40px;
  width: 128px;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-radius: 8px;
  font-size: 1.5rem;
  &--study {
    background-color: #2dd4bf;
  }
}

.header__icons {
  list-style-type: none;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__icon {
  font-size: 1.5rem;
  &--home {
    padding-right: 3px;
  }
  &--study {
    color: #2dd4bf;
  }
}

.bg {
  width: 100%;
  height: 100%;
}
