<div class="bg">
  <header class="header">
    <nav class="header__nav">
      <div class="header__home-button">
        <app-home-button [contentLabel]="'study'"></app-home-button>
      </div>
      <div class="header__others">
        <div class="header__others-1">
          <app-theme-picker
            [defaultTheme]="'lara-light-green'"
          ></app-theme-picker>
        </div>
        <div class="header__others-1">
          <a href="https://github.com/magurouhiru/mysite">
            <div class="pi pi-github header__icon"></div>
          </a>
        </div>
        <div class="header__others-1">
          <a href="https://twitter.com/magurouhiru7">
            <div class="pi pi-twitter header__icon"></div>
          </a>
        </div>
      </div>
    </nav>
  </header>
  <div class="study-content">
    <router-outlet />
  </div>
</div>
