<div class="bg">
  <header class="header header--article">
    <nav class="header__nav">
      <a class="header__a" [routerLink]="'/study'">
        <div class="header__home header__home--article">
          <span
            class="pi pi-pen-to-square header__icon header__icon--home"
          ></span>
          <span>article</span>
        </div>
      </a>
      <div class="header__icons">
        <a href="https://github.com/magurouhiru/mysite">
          <div class="pi pi-github header__icon header__icon--article"></div>
        </a>
        <a href="https://twitter.com/magurouhiru7">
          <div class="pi pi-twitter header__icon header__icon--article"></div>
        </a>
      </div>
    </nav>
  </header>
  <div class="p-3">
    <router-outlet />
  </div>
</div>
