<div class="main">
  <h1>mysite へようこそ</h1>
  <h2>コンテンツはこちら</h2>
  <div class="content-wrap">
    <div class="content">
      <a [routerLink]="'/article'">
        <p-card styleClass="card">
          <ng-template pTemplate="header">
            <div class="home-button">
              <app-home-button
                [contentLabel]="'article'"
                [flexTheme]="false"
              ></app-home-button>
            </div>
          </ng-template>
          <p class="message">私がこれまでに書いた記事が掲載されています。</p>
        </p-card>
      </a>
    </div>
    <div class="content">
      <a [routerLink]="'/study'">
        <p-card styleClass="card">
          <ng-template pTemplate="header">
            <div class="home-button">
              <app-home-button
                [contentLabel]="'study'"
                [flexTheme]="false"
              ></app-home-button>
            </div>
          </ng-template>
          <p class="message">
            私がこれまで作成したHTML, CSS 等のデモとメモが掲載されています。
          </p>
        </p-card>
      </a>
    </div>
    <div class="content">
      <a [routerLink]="'/portfolio'">
        <p-card styleClass="card">
          <ng-template pTemplate="header">
            <div class="home-button">
              <app-home-button
                [contentLabel]="'portfolio'"
                [flexTheme]="false"
              ></app-home-button>
            </div>
          </ng-template>
          <p class="message">
            私がこれまで作成したポートフォリオが掲載されています。
          </p>
        </p-card>
      </a>
    </div>
  </div>
</div>
