<div class="bg-gray-100 min-h-full min-w-full p-3">
  <h1>mysite へようこそ</h1>
  <h2>コンテンツはこちら</h2>
  <div class="flex justify-around gap-6">
    <div class="flex-1">
      <a class="no-underline" [routerLink]="'/article'">
        <p-card styleClass="pt-3 basis-1/2">
          <ng-template pTemplate="header">
            <div class="header__home--home">
              <div class="header__home header__home--article">
                <span
                  class="pi pi-pen-to-square header__icon header__icon--home"
                >
                </span>
                <span>article</span>
              </div>
            </div>
          </ng-template>
          私がこれまでに書いた記事が掲載されています。
        </p-card>
      </a>
    </div>
    <div class="flex-1">
      <a class="no-underline" [routerLink]="'/study'">
        <p-card styleClass="pt-3">
          <ng-template pTemplate="header">
            <div class="header__home--home">
              <div class="header__home header__home--study">
                <span
                  class="pi pi-graduation-cap header__icon header__icon--home"
                >
                </span>
                <span>study</span>
              </div>
            </div>
          </ng-template>
          私がこれまで作成したHTML, CSS のデモとメモが掲載されています。
        </p-card>
      </a>
    </div>
  </div>
</div>
