.main {
  background-color: #f3f4f6;
  min-width: 100%;
  min-height: 100%;
  padding: 0.5rem;
}

.content-wrap {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.content {
  flex: 1 1 0;
}

a {
  text-decoration: none;
}

:host ::ng-deep .card {
  padding: 0.5rem;
}

.message {
  margin: 0.5rem 0;
}
